@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(45deg, rgb(130, 188, 246), rgb(100, 204, 245));
    min-height: 100vh;
    margin: 0; /* Optional: Remove default margin */
    font-family: 'Mali', sans-serif;
}

.gradient-text {
    background: linear-gradient(to Right, #ff85c8, #f0ff8c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient2-text {
    background: linear-gradient(to Right, #c8f621, #fcde18);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient3-text {
    background: linear-gradient(to Right, #003295, #0658af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-bg {
    background: linear-gradient(to Right, #2e2afe, #495df0);
}

.gradient2-bg {
    background: linear-gradient(to Right, #2188f6, #186cfc);
}

.gradient-bg:hover {
    background: linear-gradient(to Right, #2a6afe, #1074ff);
}

@keyframes rgbOutline {
    0% {
        border-color: rgb(255, 0, 0); /* Red */
    }
    25% {
        border-color: rgb(0, 255, 0); /* Green */
    }
    50% {
        border-color: rgb(0, 0, 255); /* Blue */
    }
    75% {
        border-color: rgb(255, 255, 0); /* Yellow */
    }
    100% {
        border-color: rgb(255, 0, 255); /* Magenta */
    }
}

.hover\:animated-outline:hover {
    border: 2px solid;
    animation: rgbOutline 3s infinite; /* Adjust duration and timing as needed */
}
